[submodule "vim/.vim/bundle/python-mode"]
	path = vim/.vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/.vim/bundle/dotvim-python-ide"]
	path = vim/.vim/bundle/dotvim-python-ide
	url = git://github.com/kpanic/dotvim-python-ide.git
